version: '3.8'

services:
  app:
    container_name: next-dev
    build: .
    # GANTI BARIS INI (Gunakan USER_ID dan GROUP_ID)
    user: "${USER_ID}:${GROUP_ID}" 
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true